* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  -webkit-font-smoothing: antialiased;
  -moz-osx-smoothing: grayscale;
}

:root {
  --brand-color-light: #60A5FA;
  --brand-color-dark: #1D4ED8;
  --bg-color: #0F172A;
  --stroke-color: #1E293B;
  --txt-color-primary: #F1F5F9;
  --txt-color-second: #CBD5E1;

  --archivo: "Archivo", sans-serif; 
  --svg: var(--txt-color-second);

  &:has(:hover) {
    --svg: var(--brand-color-dark);
  }
}

#app {
  max-width: 22.5rem;
  padding-inline: 1rem;
  margin-inline: auto;
}

body {
  background-color: var(--bg-color);
}

main {
  margin-block: 1rem;
  row-gap: 2rem;
}

h1,
h2,
h3,
h4 {
  color: var(--txt-color-primary);
}

h1 {
  font: 800 1.5rem/135% var(--archivo);
}

h2 {
  font: 800 1rem/140% var(--archivo);
}

h3 {
  font: 800 0.875rem/140% var(--archivo);
}

h4 {
  font: 700 1rem/140% var(--archivo);
}

a {
  font: 600 0.875rem/145% var(--archivo);
  color: var(--txt-color-second);
  text-decoration: none;
}

span {
  font: 600 0.875rem/145% var(--archivo);
  color: var(--txt-color-second);
}

p {
  font: 400 0.875rem/160% var(--archivo);
  color: var(--txt-color-second);
}

img {
  max-width: 100%;
}

ul[role="list"] {
  list-style: none;
}

.content-tag {
  display: inline-block;
  background-color: var(--brand-color-dark);
  padding: .25rem .5rem;
  border-radius: 4px;
  line-height: 1.2;
  text-transform: uppercase;
  letter-spacing: 0.04em;
  box-shadow: 0 .4rem 1.6rem rgba(2, 6, 23, 0.251);
}

@media (width > 64em) {
  #app {
    max-width: 80rem;
  }

  main {
    margin-block: 2.5rem;
    row-gap: 5rem;
    column-gap: 2rem;

    grid-template-columns: 2fr 1.4fr;

    grid-template-areas: 
    "featured featured"
    "weekly weekly"
    "ai aside";
  }
}