header {
  & .initial {
    padding-block: 1rem;

    & ul {
      justify-content: space-between;
    }
  }

  & .selector {
    border-block: 1px solid var(--stroke-color);
    overflow-x: scroll;
    padding-block: 0.875rem;

    & ul {
      gap: 1rem;

      & li {
        white-space: nowrap;

        & span {
          cursor: pointer;
          
        &:hover {
          color: var( --brand-color-light);
        }
      }
      }
    }
  }

  @media (width >= 64em) {
    & .initial {
      padding-block: 2rem;

      & li {
        gap: .5rem;
      }
    }

    & .selector {
      overflow: hidden;
      & ul {
        justify-content: space-between;
      }
    }
  }
}